/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root {
    --bg-color: #191919;
    --second-bg-color: #101010;
    --main-color: #e9204f;
    --text-color: #ffffff;
    /* Corrected hex color */
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;
    --h1-font: 7rem;
    /* Added missing semicolon */
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
    /* Added missing semicolon */
}

body {
    color: var(--text-color);
    background: var(--second-bg-color);


}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e9204f ;
    padding: 28px 5%;
    /* Adjusted padding */
    border-bottom: 1px solid transparent;
    transition: all ease 0.50s;
}

.logo img {
    width: 200px;
    height: auto;
    border: 2px solid red;
    border-radius: 70px;
    box-shadow: red  10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px red;
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: var(--p-font);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 20px;
    transition: all ease 0.40s;
}

.navlist a:hover {
    color: black;
}

#menu-icon {
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 40px ;
}

.social-icons{
    padding: 40px;
    width: 200px;
    height: auto;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-text h3 {
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}

.hero-text h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4 {
    color: var(--second-color);
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 3.5rem;
    word-spacing: 15px;
}

.btn {
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    color: white;
    font-weight: bolder;
    border: 2px solid var(--main-color);
    transition: all ease 0.50s;
}

.btn:hover {
    transform: translateX(5px);
    background-color: transparent;
    border: solid var(--main-color);
    color: #c6103b;
    font-weight: bolder;
    font-size: 1.2rem;
}

.menu {
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Timeline Styles */
.timeline-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    text-align: justify;
    /* Added text-align: justify */
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 40px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-align: justify;
    /* Added text-align: justify */
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px var(--main-color);
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.hero-texth3 {
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}

/* Testimonials Styles */
.testimonials {
    margin: 20px;
    width: 1500px;
    height: 600px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    border: 2px solid red;
    background: #e9204f;
    flex-wrap: wrap;
}

.testimonials h2 {
    color: white;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 40px;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonial {
    background: var(--second-bg-color);
    color: var(--text-color);
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 340px;
    text-align: left;
}

.testimonial p {
    font-size: 1.0rem;
    line-height: 2.5;
    margin-bottom: 15px;
}

.testimonial h3 {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--main-color);
    border-radius: 10px;
    height:60px;
    
}

.highlight {
    color: var(--main-color);
    font-weight: bold;
}

/* footer css*/
.footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;



}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    font-size: var(--p-font);
    font-weight: bolder;
}

.first {
    color: #101010;
}

.contact-section {
    background-color: black;
    border: 5px solid red;
    border-radius: 40px;
    width: 900px;
    height: auto;
    margin: 0 auto; /* Centering  the section horizontally */
    padding: 20px; /* Adding padding inside the section */
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
}

.contact-section .form-group label {
    font-weight: 600;
    color: white; /* Changed color to white for better contrast */
}

.contact-section .form-control {
    border-radius: 5px;
    border: 2px solid rgb(255, 71, 26);
    height: 60px;
    width: 700px;
    margin-bottom: 20px; /* Add some space between form elements */
}


.contact-section .btn-primary {
    
    background-color: rgb(195, 41, 41);
    font-size: 1.9rem;
    font-weight: bolder;
    align-content: center;
    border-color: red;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 400px;
    height: 60px;
}

.contact-section .btn-primary:hover {
    background-color: green;
    color: #101010;
    transform: translateY(-2px);
}

.contact-info {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
}

.contact-info p {
    margin: 5px 0;
    color: white; /* Changed color to white for better contrast */
}

.contact-info a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.contact-info a:hover {
    text-decoration: underline;
}

.row gx-5{
    background-color: var(--second-bg-color);
    padding: 70px 7%;
    text-align: center;
    border: 2px solid red;
    border-radius: 40px;
    width: 900px;
    height: auto;
}

.projects{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    border-radius: 14%;
    overflow: hidden;
    position: relative;
    border: 2px solid red;
    background: #e9204f;
    flex-wrap: wrap;
}

    /* Container styling */

    .projects h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }

    /* Card styling */
    .card {
        border: 1px solid  rgb(165, 6, 6);
        background: #e9204f ;
        width:350px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
        max-height: 200px;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 1rem;
        color: black;
    }

    /* Responsive */
    @media (max-width: 768px) {
        .card-title {
            font-size: 1.25rem;
        }
        .card-text {
            font-size: 0.9rem;
        }
    }

    .scrollable-container {
        max-width: 1200px;
        max-height: 500px; /* Set the maximum height for the container */
        overflow-y: scroll; /* Enable vertical scrolling */
        overflow-x: hidden;
        padding-right: 5px; /* Reduce the space for the scrollbar */
        box-sizing: border-box; /* Include padding in width calculation */



    }

    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    .testimonial-container, .projects-text {
        max-width: 900px; /* Limit the width */
        margin: auto; /* Center align */
    }

